<div class="contribution-graph">
  <div class="graph-legend">
    <span class="legend-label">Less</span>
    <div class="legend-colors">
      <div class="legend-color" style="background-color: #ebedf0;"></div>
      <div class="legend-color" style="background-color: #9be9a8;"></div>
      <div class="legend-color" style="background-color: #40c463;"></div>
      <div class="legend-color" style="background-color: #30a14e;"></div>
      <div class="legend-color" style="background-color: #216e39;"></div>
    </div>
    <span class="legend-label">More</span>
  </div>
  <div class="graph-wrapper">
    <div #chartContainer class="chart-container"></div>
    <div class="month-labels">
      <span *ngFor="let month of monthLabels" class="month-label">{{ month }}</span>
    </div>
  </div>
  <div class="graph-footer">
    <p>Learn how we count contributions</p>
    <div class="org-contributions">
      <span>Less contributions to</span>
      <a href="#">@UptimeAI</a>
      <span>and</span>
      <a href="#">@timescale</a>
    </div>
  </div>
</div>